@tailwind base;
@tailwind components;
@tailwind utilities;


*{
 background-color: #fbf9f975; 
}

@font-face {
  font-family: "Roboto";
  src: url("C:\Users\ROYal\Desktop\Nandini WorkSpace\Urban_Grocery\urban-grocery\src\fonts\Roboto\Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url("C:\Users\ROYal\Desktop\Nandini WorkSpace\Urban_Grocery\urban-grocery\src\fonts\Roboto\Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url("C:\Users\ROYal\Desktop\Nandini WorkSpace\Urban_Grocery\urban-grocery\src\fonts\Roboto\Roboto-Bold.ttf");
}

